.active{
  color: #007bff !important;
}
.navrow {
  width: 100%;
  .col{
    padding-top:0.5em;
  }
  .active{
    background-color: #007bff;
    fill: #007bff;
    border-radius: 2px;

  }
}
.navItem {
  font-size: 0.7em;
  text-align: center;
  p{
    margin-bottom: 0px;
  }
}

div.navcontainer{
  padding: 0px;
}

#navbar a:active{
  color: #007bff;
}


.menu_padding {
  padding: .5rem 1rem;
}

.menu_option {
  border-radius : 5px;
}
.menu_option:hover{
  color: #73b6ff !important;
  cursor: pointer;
}
