.active{
  color: #054cda !important;
}
.navrow {
  width: 100%;
  .col{
    padding-top:0.5em;
  }
  .active{
    background-color: #002060;
    color: white !important;
  }
}

.active img {
  filter: invert(100%);
}

.navItem {
  font-size: 0.7em;
  text-align: center;
  p{
    margin-bottom: 0px;
  }
}

div.navcontainer{
  padding: 0px;
}

#navbar a:active{
  color: #054cda;
}


.menu_padding {
  padding: .5rem 1rem;
}

.menu_option {
  border-radius : 5px;
}
.menu_option:hover{
  color: #054cda !important;
  cursor: pointer;
}
