// change the theme
$theme-colors: (
        "primary": #002060,
        "danger": #EB0F0F,
        "secondary":  #d7eaff,
  // "success":    $success,
  //"info":       $info,
  // "warning":    $warning,
        "light":      #F8E6A9,
        "dark":       #626262
);

#root{
  height: 100%;
}
html,body{
  height: 100%;

}
div.container{
  min-height: 100%;
  //background-color: white;
}

main{
  min-height: 100%;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';