/* ---------- General instructions ---------- */

* {
    font-family: 'Segoe UI','Roboto','Oxygen-Sans','Ubuntu','Cantarell','Helvetica Neue',sans-serif;
}

div#root {
    margin: 2em;
}

h1, h2, h3 {
    font-family: "Passion One", sans-serif;
}

h1 {
    color: #007bff;
    font-weight: bold;
    margin-bottom:.5em !important;
}

h2 {
    color: #888;
    font-size: 1.8em !important;
    margin-bottom:1em !important;
}

.row {
    margin-left:0px !important;
    margin-right:0px !important;
}

.margin_left {
    margin-left: 1em;
}

.margin_top {
    margin-top: 2em;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

a {
    color: inherit !important;
}

a:hover {
    text-decoration: none !important;
}

.box {
    border: 2px solid #ced4da;
    border-radius: .5rem;
    padding: 2em;
}

.bigFont {
    font-family: "Passion One", sans-serif;
    font-size: 1.2em;
    color: #007bff;
}

/* ---------- Main page ---------- */

div#language_menu {
    padding-left:0;
}

/* ---------- Languages page ---------- */

.languages_box {
    background-color: #d7eaff;
    padding: 1em;
    border-radius: .5rem;
}

.languages_option {
    text-align: center;
    vertical-align: middle;
    background-color: #d7eaff;
    margin: 0.5em 0;
    padding: 0.5em 0;
    color: black;
    border-radius: .5rem;
}

.languages_option:hover {
    background-color: #007bff;
    color: white;
}



/* ---------- MainContent component ---------- */

#content {
    padding: 1em;
}

.menu_option:hover {
    background: #007bff !important;
    color: white !important;
}

#navbar {
    width: 100% !important;
    margin-bottom: 1em;
}

.btn-outline-success {
    color: #007bff !important;
    border-color: #007bff !important;
}

.btn-outline-success:hover {
    background-color: #007bff !important;
    border-color: #007bff !important;
    color: white !important;
}


/* ---------- VocabularyList component ---------- */

.vocabulary_list_header{
    font-weight: bold;
}

.vocabulary_list_entry + .vocabulary_list_entry {
    margin-top: .5em;
}

/* ---------- TrainVocabularySummary component ---------- */

.right {
    background-color: #ccffcc;
}

.wrong {
    background-color: #ffcccc;
}
