/* ---------- General instructions ---------- */

* {
    font-family: 'Segoe UI','Roboto','Oxygen-Sans','Ubuntu','Cantarell','Helvetica Neue',sans-serif;
}


h1, h2, h3 {
    font-family: "Passion One", sans-serif;
}

h1 {
    margin-top: 2em;
    color: #007bff;
    font-weight: bold;
    margin-bottom:.5em !important;
}

h2 {
    color: #888;
    font-size: 1.8em !important;
    margin-bottom:1em !important;
}

.row {
    margin-left:0px !important;
    margin-right:0px !important;
}

.margin_left {
    margin-left: 1em;
}

.margin_top {
    margin-top: 2em;
}

.margin_top_small {
    margin-top: 1em;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.bold {
    font-weight: bold;
}

a {
    color: inherit !important;
}

a:hover {
    text-decoration: none !important;

}

.box {
    border: 2px solid #ced4da;
    border-radius: .5rem;
    padding: 2em;
}

.bigFont {
    font-family: "Passion One", sans-serif;
    font-size: 1.2em;
    color: #007bff;
}


#content {
    //padding-top: 1em;
    padding-bottom: 7em;
}

.grey_button {
    background-color: #bbb !important;
    border-color: #bbb !important;
    box-shadow: none !important;
}

.grey_button:hover {
    background-color: #999 !important;
}


/* NavigationTop */

.vocabulary_list .vocabulary_list,
.add_vocabulary .add_vocabulary,
.vocabulary_training .vocabulary_training,
.settings .settings
{
    //color: #007bff !important;
}



/* ---------- Languages page ---------- */

div#language_menu {
    padding-left:0;
}

.languages_box {
    background-color: #d7eaff;
    padding: 1em;
    border-radius: .5rem;
}

.languages_option {
    text-align: center;
    vertical-align: middle;
    background-color: #d7eaff;
    margin: 0.5em 0;
    padding: 0.5em 0;
    color: black;
    border-radius: .5rem;
}

.languages_option:hover {
    background-color: #007bff;
    color: white;
}




/* ---------- VocabularyList ---------- */

.vocabulary_list_header{
    font-weight: bold;
}

.vocabulary_list_entry + .vocabulary_list_entry {
    margin-top: .5em;
}

/* ---------- Pagination ---------- */
.page_link:hover {
    cursor: pointer;

}

.page_link_active {
    background-color: #007bff !important;
    color: white !important;
}

/* ---------- AddVocabulary ---------- */

.inline_block {
    display: inline-block;
}



/* ---------- VocabularyTraining ---------- */

.right {
    background-color: #ccffcc;
}

.wrong {
    background-color: #ffcccc;
}

/* LogInForms */

#signUpForm small,
#logInForm small {
    color: red !important;
}

.alert-warning {
    white-space: pre-wrap;
}





@media (min-width: 991px) {
    #navbar {
        background-color: white !important;
        border-bottom: 2px solid #ddd;

    }
  }