/* ---------- General instructions ---------- */

* {
    font-family: 'Roboto', 'Segoe UI', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #002060 !important;
}

main {
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2.5em;
    background-color: white;
}

h1,
h2,
h3 {
    /*     font-family: "Passion One", sans-serif;
 */
    font-family: "Jaldi", sans-serif;
}

h1 {
    margin-top: 2em;
    color: #002060;
    margin-bottom: .5em !important;
}

h2 {
    color: #888;
    font-size: 1.8em !important;
    margin-bottom: 1em !important;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.margin_left {
    margin-left: 1em;
}

.margin_right {
    margin-right: 1em;
}

.margin_bottom {
    margin-bottom: 1em;
}

.margin_top {
    margin-top: 2em;
}

.margin_top_small {
    margin-top: 1em;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.bold {
    font-weight: bold;
}

a {
    color: inherit !important;
}

a:hover {
    text-decoration: none !important;

}

.box {
    /* border: 2px solid #ced4da;
    border-radius: .5rem; */
    padding-top: 2em;
}

.bigFont {
    font-family: "Passion One", sans-serif;
    font-size: 1.2em;
    color: #002060;
}

.blue-button {
    background-color: #002060;
    color: white;
    border-radius: .25rem;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    border: 1px solid #002060 !important;
}

.blue-button:hover {
    background-color: black;
    border: 1px solid black !important;
}

.grey_button {
    background-color: #bbb !important;
    border-color: #bbb !important;
    box-shadow: none !important;
}

.grey_button:hover {
    background-color: #999 !important;
}

.white-background {
    background: white !important;
}

/* Navigation */

.logout {
    margin: .75em 0 .25em 1em;
}

#navbar_permanent_line {
    background-color: white !important;
    border-bottom: 2px solid #ddd;
}


/* Landing */

.version {
    color: rgba(108, 117, 125, 0.897) !important;
    text-align: right;
}


/* ---------- Languages page ---------- */

div#language_menu {
    padding-left: 0;
}

.languages_box {
    background-color: #d7eaff;
    padding: 1em;
    border-radius: .5rem;
}

.languages_option {
    text-align: center;
    vertical-align: middle;
    margin: 0.5em 0;
    padding: 0.5em 0;
    color: white;
    border-radius: .5rem;
}


/* ---------- VocabularyList ---------- */

#vocabulary_list {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
}

.vocabulary_list_header {
    font-weight: bold;
}

.vocabulary_list_entry>div {
    padding-top: .25em;
    padding-bottom: .25em;
}

.summary_list_entry {
    margin-top: .4em;
    margin-bottom: .4em;
}

.blue_background {
    background-color: #e6ebff;
}

.creating {
    margin: 2em 0 0 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #cce5ff;
}

/* ---------- Pagination ---------- */

.page-link {
    color: #002060 !important;
}

.page_link:hover {
    cursor: pointer;

}

.page_link_active {
    background-color: #002060 !important;
    color: white !important;
}

/* ---------- AddVocabulary ---------- */

.inline_block {
    display: inline-block;
}



/* ---------- VocabularyTraining ---------- */

.right {
    background-color: #e3fce3;
}

.info {
    background-color: #fff5d9;

}

.wrong {
    background-color: #ffe3e3;
}

.no-color {
    background-color: none;
}

/* LogInForms */

#signUpForm small,
#logInForm small {
    color: red !important;
}

.warning {
    color: red !important;
    font-size: 0.8em;
    margin-bottom: 2em;
}

.alert-warning {
    white-space: pre-wrap;
}





@media (min-width: 991px) {
    #navbar {
        background-color: white !important;
        border-bottom: 2px solid #ddd;

    }

    #vocabulary_list {
        -webkit-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
        overflow-wrap: initial;
    }

    main {
        padding: 2em;
        margin-top: 2em;
        border-radius: .5rem;
    }

}